.Navbar {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
}

.image_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 200px;
    background-color: white;
    overflow: hidden;
}

.image {
    object-fit: contain;
}

.head {
    font-size: 45;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 0.5px solid black;
    outline: none;
    padding-left: 5px;
}