.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa;
    width: 100%
}

.login_form {
    background: #fff;
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login_form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.login_form label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
}

.login_form input {
    width: 100%;
    padding: 0.6rem 0.8rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login_form button {
    width: 100%;
    padding: 0.7rem;
    background-color: #00796b;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.login_form button:hover {
    background-color: #004d40;
}