/* ===== PAGE WRAPPER ===== */
.page {
    padding: 20px;
    margin: 0 auto;
    font-family: 'Segoe UI', Roboto, sans-serif;
    color: #333;
    width: 100%;
}

/* ===== HEADER ===== */
.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 28px;
    color: #37003c;
    /* PL dark purple */
    margin-bottom: 6px;
}

.header p {
    font-size: 16px;
    color: #666;
}

/* ===== MATCH CARD ===== */

.matchCard {
    background-color: #08000027;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 10px;
    padding: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    height: 200px;
    width: 300px;
}

.matchCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.matchCard_parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width:100%;
}

.matchPlayers {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.matchPlayers strong {
    color: #37003c;
}

.matchScore {
    font-size: 14px;
    margin-bottom: 6px;
}

.matchRound {
    font-size: 13px;
    font-weight: 500;
    color: #555;
    margin-bottom: 6px;
}

.matchStatus {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    margin-bottom: 6px;
}

/* STATUS COLORS */
.statusUpcoming {
    background-color: #ff9800;
    /* orange */
}

.statusCompleted {
    background-color: #4caf50;
    /* green */
}

.statusOngoing {
    background-color: #2196f3;
    /* blue */
}

.winner {
    font-size: 14px;
    font-weight: 600;
    color: #4caf50;
}

.standingsCard {
    margin-top: 30px;
    padding: 20px;
    background: #121212;
    border-radius: 10px;
}

.standingsTitle {
    margin-bottom: 10px;
    color: #ec1ad0;
}

.standingsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.standingsTable th {
    padding: 10px;
    background: #1f1f1f;
}

.standingsTable td {
    padding: 8px;
    border-bottom: 1px solid #2a2a2a;
}

.points {
    font-weight: bold;
    color: #00ffcc;
}